@import url(https://fonts.google.com/specimen/Poppins)
*(
   nargin: 0;
   padding: 0 ;
   box-sizing:border-box;
   font-family: "Popins", sans-serif;
)

body(
    display: flex;
    justify-content: center;
)